{% extends "layout.html.twig" %}

{% block page_title %}
    Mes appels à projet
{% endblock %}

{% block content %}

    <div id="listUser" class="container">
        {% if is_granted('ROLE_ADMIN') %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Supprimer</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {# Modal confirmation de suppresion #}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger poubelle" data-toggle="modal" data-target="#exampleModal">
                            <i class="far fa-trash-alt suppression"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Etes vous sûr de vouloir supprimer cet utilisateur ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('user_supprimer',{id: user.id})  }}" style="color:white;"><button type="button" class="btn btn-danger btn-sm">Oui, je confirme la suppression !</button> </a>
                                    </div>
                                </div>
                            </div>
                        </div> {# fin div.modal fade #}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-danger">Vous n'avez pas les droits d'accès à cette page</div>
        {% endif %}

    </div> {# fin div.container #}


{% endblock %}