{########## HEADER ###########}

<header>
    <nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
        <div class="container">
            <a href="/" class="logo">
                <img alt="Logo du site Iceberg" src="{{ asset('/img/Logo.png') }}" style="width: 50%;" id="logo-img" />
            </a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon" style="color:white"></span>
            </button>
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto ">

                    {# Permet de déterminer si mon user est connecté#}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        {# Connexion Admin #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_liste_projet') }}">Liste des appels à
                                        candidature</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_liste_user') }}">Liste des
                                        utilisateurs</a>
                            </li>


                            {# Connexion Orga #}
                            {# Si mon user est connecté, affiche les boutons Profil et Projets #}
                        {% elseif is_granted('ROLE_ORGANISATEUR' ) %}
                            <li class="nav-item" >
                                <a class="nav-link" id="favori_color" href="{{ path('projet_new') }}"><b>Rédiger un appel à candidature</b></a>
                            </li>

                            <li class="nav-item" id="favori_button">
                                <a class="nav-link" id="favori_color" href="{{ path('projet_vue') }}"><b>Mes appels à candidature</b></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link btn" id="profil_button" data-toggle="modal"
                                   data-target="#exampleModal" href="{{ path('user_connexion') }}"><b>Profil</b></a>
                            </li>


                            {# Connection Membre#}
                            {# Si mon user est connecté, affiche les boutons Profil et Favoris #}
                        {% elseif is_granted('ROLE_MEMBRE' ) %}
                            <li class="nav-item" id="favori_button">
                                <a class="nav-link" id="favori_color" href="{{ path('projet_liste_favori') }}"><b>Mes favoris</b></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link btn" id="profil_button" data-toggle="modal"
                                   data-target="#exampleModal" href="{{ path('user_connexion') }}"><b>Profil</b></a>
                            </li>
                        {% endif %}

                        {# Bouton Déconnexion #}
                        <li class="nav-item">
                            <a class="nav-link" id="profil_button" href="{{ path('user_deconnexion') }}"><b>Déconnexion</b></a>
                        </li>

                    {% else %}
                        {# Si mon user est déconnecté, affiche les boutons inscription/connexion #}
                        <li class="nav-item">
                            <a class="btn nav-link active" id="profil_button" href="{{ path('user_inscription') }}"><b>Inscription</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link active" id="profil_button" href="{{ path('user_connexion') }}"><b>Connexion</b></a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>

</header>
